<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Meadowlark Travel</title>
        <link rel="stylesheet" href="/css/style.css" />
        {{! вставка section 'head' из страницы}}
        {{{_sections.head}}}
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="логотип meadowlark travel" />
        </header>
        <main class="main">
            <div class="container">
                {{! Секретный комментарий - не попадет в html }}
                {{{body}}}
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <p class="footer__content">&copy; 2019 Meadowlark Travel</p>
            </div>
        </footer>

    {{! вставка section 'script' из страницы}}
    {{{_sections.scripts}}}
    </body>
</html>