*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}